# {{title}}

{{#branches}}
{{#supportNamedBranches}}
## Branch: {{name}}
{{/supportNamedBranches}}

{{#changesets}}
### [{{shortId}}]({{link}}) - {{date}} - {{author.name}}

{{description}}

{{#modifications.added}}
* A {{.}}
{{/modifications.added}}
{{#modifications.modified}}
* M {{.}}
{{/modifications.modified}}
{{#modifications.removed}}
* R {{.}}
{{/modifications.removed}}

{{#diff}}
```
{{{.}}}
```
{{/diff}}

{{/changesets}}

{{/branches}}
